@model Pulp.Models.Admin

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <h1 class="btn col-12 m-auto font-weight-bold" style="color: #7BB38E;font-size:xx-large; font-family:'Times New Roman', Times, serif">Edit Admin</h1>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 m-auto shadow-lg p-5">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label" style="color: #7BB38E;"></label>
                    <select asp-for="Role" class="form-control"></select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="UserID" />
                <div class="form-group">
                    <label asp-for="Username" class="control-label" style="color: #7BB38E;"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label" style="color: #7BB38E;"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PictureUri" class="control-label" style="color: #7BB38E;"></label>
                    <input asp-for="PictureUri" class="form-control" />
                    <span asp-validation-for="PictureUri" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn col-12 m-auto font-weight-bold" style="background-color: #7BB38E; color:white;" />
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 m-auto">
            <a asp-action="Index" style="color: #7BB38E; margin:auto">Back to List</a>
        </div>

    </div>

</div>

