@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2 class="text-center mt-3" style="color:#7BB38E">Manage your account</h2>

<div>
    <h4 class="text-secondary text-center">Change your account settings</h4>
    <hr />
    <div class="row ">
        <div class="col-2 ml-3 p-1 " style="        color: #7BB38E
">
            <partial name="_ManageNav" />
        </div>
        <div class="col-8">
            @RenderBody()
        </div>
        
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
