@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-center">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-12">
        <div class="col-sm-10 col-md-10 m-auto ">

            <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
            <div class="d-flex align-items-center mb-2 offset-">
                <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group m-auto ">
                    <button class="btn btn-primary m-auto" type="submit">Download</button>
                </form>
            </div>
            <div class="d-flex align-items-center" >
                
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary m-auto">Delete</a>
              
            </div>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
