@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<style>
  /*  h3{

        text-align:center
    }*/

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 9999;
        font-size: 18px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        background-color: #7BB38E
    }



        #myBtn:hover {
            background-color: #555;
        }
</style>
<button onclick="topFunction()" id="myBtn" class="btn" title="Go to top">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="26" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
    </svg>
</button>
<section id="videoSection">
    <video src="/images/video.mp4" style="object-fit:fill; width:100%" autoplay="" muted="" loop="" playsinline="" height="800" slideshow__video">
    </video>
    <div class="d-none d-md-block text-center mx-auto p-5" style=" position: absolute; top:45%; left: 0; z-index:1; margin-left:7%">
        <h1 class="m-b-20 slide-item__title ">
            Welcome To
            <span style=" color:  #7BB38E; font-weight:900">Pulp</span>
        </h1>
        <br />
        <h1 class="m-b-40 text-light font-weight-bolder">
            Here at Pulp and Paper we believe that the world would be getting
            better each day. We are doing our best to support the society needs,
            to complete and continue their daily life and to improve.
        </h1>
        <p class="m-5">
            <a class="btn btn-lg btn-circle" style="background-color: #7BB38E" asp-controller="Businesses" asp-action="Index">Check out our products</a>
        </p>
    </div>
</section>

<section class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/story.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>
                        <strong style="color:#545454">Welcome To <span>Pulp</span></strong>
                    </h1>
                    <h4>Little Story</h4>
                    <p>Pulp is a trade name of pulp and paper manufacturing company which delivers quality products to meet the growing global demand for paper, tissue, and packaging. Beginning as a caustic soda producer in 1972. Today, Pulp markets its products in more than 150 countries across six continents.</p>
                    <p>Pulp's vision is to be one of the best and most respected companies in the world.  A company of substance in everything we do, from the products we make to investing in protecting our environment, Pulp supports communities where our employees live and work </p>
                    <a class="btn btn-lg btn-circle btn-outline-new-white" asp-controller="Businesses" asp-action="Index">Go to Products</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item ">
            <img src="/images/paper.jpg" class="d-block w-100 h-75">
            <div style=" position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.5;"></div>

            <div class="carousel-caption d-none d-md-block text-light" style="font-size:xx-large">
                <p class="m-b-20 text-light">
                    <strong>Renuable <span style="color: #7BB38E">Future</span></strong>
                </p>
                <h1 class="m-b-40 text-light">
                    Pulp is one of the world’s leading producers of fiber-based packaging, pulp and paper. We improve people’s lives, the planet and our company’s performance by transforming renewable resources into products people depend on every day.
                </h1>
                <p class="mb-5">
                    <a class="btn btn-lg btn-circle btn-outline-new-white" asp-controller="Businesses" asp-action="Index">Order</a>
                </p>
            </div>
        </div>
        <div class="carousel-item active ">
            <img src="/images/wood.jpg" class="d-block w-100 h-75" style="height:500px">
            <div style=" position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.5;"></div>

            <div class="carousel-caption d-none d-md-block text-light" style="font-size:xx-large">
                <p class="m-b-20 text-light">
                    <strong>Renuable <span style="color: #7BB38E">Future</span></strong>
                </p>
                <h1 class="m-b-40 text-light">
                    Pulp is one of the world’s leading producers of fiber-based packaging, pulp and paper. We improve people’s lives, the planet and our company’s performance by transforming renewable resources into products people depend on every day.
                </h1>
                <p class="mb-5">
                    <a class="btn btn-lg btn-circle btn-outline-new-white" asp-controller="Businesses" asp-action="Index">Order</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/cartoon.jpg" class="d-block w-100 h-75" />
            <div style=" position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.5;"></div>

            <div class="carousel-caption d-none d-md-block text-light" style="font-size:xx-large">
                <p class="m-b-20 text-light">
                    <strong>Renuable <span style="color: #7BB38E">Future</span></strong>
                </p>
                <h1 class="m-b-40 text-light">
                    Pulp is one of the world’s leading producers of fiber-based packaging, pulp and paper. We improve people’s lives, the planet and our company’s performance by transforming renewable resources into products people depend on every day.
                </h1>
                <p class="mb-5">
                    <a class="btn btn-lg btn-circle btn-outline-new-white" asp-controller="Businesses" asp-action="Index">Order</a>
                </p>
            </div>
        </div>
    </div>

</section>



<section class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Products & Solutions</h2>
                    <p>
                        We create innovative, sustainable and recyclable products that help our
                        customers achieve their objectives.
                    </p>
                </div>
            </div>
        </div>

        <div class="row special-list">
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="/images/pacakging.png" style=" width: 100%; height: max-content;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Packaging</h4>
                        <p>We create packaging products that protect and promote goods, enable worldwide commerce and keep consumers safe.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="/images/fibers.png" style=" width: 100%; height: max-content;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Cellulose Fibers</h4>
                        <p>We create quality cellulose fiber products suitable for a wide range of applications. Cellulose fiber is a sustainable, renewable raw material.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="/images/papers.png" style=" width: 100%; height: max-content;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Papers</h4>
                        <p>As one of the world’s largest manufacturers of uncoated freesheet, we produce a variety of papers for business and home use.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="/images/recycle.jpg" style=" width: 100%;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Office & Distribution Center</h4>
                        <p> We can establish a complete recycling program that is customized to your specific business needs.</p>
                        <h5> $15.79</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="/images/national.jpg" style=" width: 100%;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>National Recycling</h4>
                        <p>Our strategic accounts team provides custom solutions to large manufacturers, offices, and retailers nationwide.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="/images/brokage.jpg" style=" width: 100%; height: max-content;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Brokerage</h4>
                        <p>Our brokerage team provides service to regionally-located small recyclers and converters to ship mill direct.</p>
                        <h5> $20.79</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="/images/whoWeAre.jpg" style=" width: 100%;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Who We Are</h4>
                        <p>From our stewardship of forests to ensuring the safety of products people depend on every day, we’re committed to being a force for good in everything we do.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="/images/bandaid.jpg" style=" width: 100%; height: max-content;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Pharmaceutical & Healthcare Packaging</h4>
                        <p> Our GC2 board Alaska® Plus is a leading brand used in the pharmaceutical segment.</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="/images/trees.png" style=" width: 100%;" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Sustainability</h4>
                        <p>As a manufacturer of wood fiber products, That’s why we incorporate sustainable practices into everything we do.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Menu -->
<!-- Start Contact info -->
<section class="contact-imfo-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead">
                        +01 123-456-4590
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        yourmail@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>Location</h4>
                    <p class="lead">
                        800, Lorem Street, US
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact info -->
<footer class="footer-area bg-f">
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-3 col-md-6">
                <h3>About Us</h3>
                <p>Integer cursus scelerisque ipsum id efficitur. Donec a dui fringilla, gravida lorem ac, semper magna. Aenean rhoncus ac lectus a interdum. Vivamus semper posuere dui, at ornare turpis ultrices sit amet. Nulla cursus lorem ut nisi porta, ac eleifend arcu ultrices.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>Delivery hours</h3>
                <p>
                    <span class="text-color">Monday: </span>Closed
                </p>
                <p>
                    <span class="text-color">Tue-Wed :</span> 9:Am - 10PM
                </p>
                <p>
                    <span class="text-color">Thu-Fri :</span> 9:Am - 10PM
                </p>
                <p>
                    <span class="text-color">Sat-Sun :</span> 5:PM - 10PM
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>Contact information</h3>
                <p class="lead">Ipsum Street, Lorem Tower, MO, Egypt, 508000</p>
                <p class="lead">
                    <a href="#">+01 2000 800 9999</a>
                </p>
                <p>
                    <a href="#"> asp@admin.com</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>Subscribe</h3>
                <div class="subscribe_form">
                    <form class="subscribe_form">
                        <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
                        <button type="submit" class="submit">SUBSCRIBE</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <ul class="list-inline f-social pl-4">
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>


    var mybutton = document.getElementById("myBtn");



    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };



    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }



    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTo({ top: 0, behavior: 'smooth' });
        document.documentElement.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>
        </main>
    </div>
<footer class="text-center footer fixed-bottom">



    <div class="copyright text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="company-name text-warning">
                        All Rights Reserved. &copy; <a href="#" class="text-dark"> 2021 - Pulp -</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</footer>
<!-- End Footer -->

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
<script src="/js/imageName.js"></script>
<script src="/js/parallax.min.js"></script>
<script>
    $(document).ready(function () {
        // Handle click on paging links
        $('.tm-paging-link').click(function (e) {
            e.preventDefault();

            var page = $(this).text().toLowerCase();
            $('.tm-gallery-page').addClass('hidden');
            $('#tm-gallery-page-' + page).removeClass('hidden');
            $('.tm-paging-link').removeClass('active');
            $(this).addClass("active");
        });
    });
</script>




