@model Pulp.Models.Review

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-center" style="color: #7BB38E">Delete</h1>

    <h3 class="text-center" style="color: #7BB38E">Are you sure you want to delete this Review ?</h3>
    <div class="row">
        <dl class="col-lg-6 col-md-8 col-sm-12 m-auto rounded-lg shadow p-5">
            
            <dt class="col-sm-12 text-center p-2" style="color: #7BB38E">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-12 text-center p-2">
                @Html.DisplayFor(model => model.Rating)
            </dd>
            <dt class="col-sm-12  text-center p-2" style="color: #7BB38E">
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd class="col-sm-12 text-center p-2" style="color: #7BB38E">
                @Html.DisplayFor(model => model.Comment)
            </dd>
            <dd>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn col-12 m-auto text-light btn-danger" />
                </div>
                <div class="m-auto text-center">
                    <a asp-action="Index" class="text-center col-12" style="color:#7BB38E">Back to List</a>
                </div>
            </dd>
        </dl>

    </div>
</div>

