@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-center col-12 m-auto font-weight-bold p-4" style="color: #7BB38E;font-size:xx-large; font-family:'Times New Roman', Times, serif">@ViewData["Title"]</h1>
    <p class="text-center" style="color: #7BB38E">You do not have access to this resource.</p>
</header>
